# ex. cdf-bootcamp-01-test
CDF_PROJECT=<YOUR PROJECT NAME TEST/PROD>
LOGIN_FLOW=client_credentials
CDF_CLUSTER=westeurope-1

# ex. xxxxxxx-xxxx-xxxx-xxxxxxxxxxxx
IDP_CLIENT_ID=<CLIENT ID FOR TEST/PROD ADMIN TK APP>
# ex. xfgFXG~ugf8rfui322fg
IDP_CLIENT_SECRET=<CLIENT SECRET VALUE FOR TEST/PROD ADMIN TK APP's SECRET>

# ex. xxxxxxx-xxxx-xxxx-xxxxxxxxxxxx
DATA_PIPELINE_OEE_CLIENT_ID=<CLIENT ID FOR TEST/PROD DATA PIPELINE OEE APP>
# ex. xfgFXG~ugf8rfui322fg
DATA_PIPELINE_OEE_CLIENT_SECRET=<CLIENT SECRET VALUE FOR TEST/PROD DATA PIPELINE OEE APP's SECRET>

# ex. xxxxxxx-xxxx-xxxx-xxxxxxxxxxxx
ICAPI_EXTRACTORS_CLIENT_ID=<CLIENT ID FOR TEST/PROD ICAPI EXTRACTORS APP>
# ex. xfgFXG~ugf8rfui322fg
ICAPI_EXTRACTORS_CLIENT_SECRET=<CLIENT SECRET VALUE FOR TEST/PROD ICAPI EXTRACTORS APP's SECRET>

# Note: Either the TENANT_ID or the TENANT_URL must be written.
IDP_TENANT_ID=16e3985b-ebe8-4e24-9da4-933e21a9fc81 # All bootcamp projects share the same tenant.
IDP_TOKEN_URL=https://login.microsoftonline.com/16e3985b-ebe8-4e24-9da4-933e21a9fc81/oauth2/v2.0/token

# The below variables are the defaults, they are automatically constructed unless they are set.
CDF_URL=https://westeurope-1.cognitedata.com
IDP_SCOPES=https://westeurope-1.cognitedata.com/.default